.breadcrumb-area {
    text-align: center;
    position: relative;
    padding: 260px 0;
    background: url(../images/breadcrumb-bg.png) no-repeat;
    background-size: cover;
}
.best-sell-slider .thumbnail img {
    max-height: 250px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.new-product-slider .thumbnail img  {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.recent-product-slider .thumbnail img  {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.home-5.home-6 .main-navigation ul li a {
    padding: 18px 30px;
}
.contact-form {
    padding: 40px 110px 40px 110px;
}
.category-slider.owl-nav-style .owl-nav>div.owl-next {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.category-slider.owl-nav-style .owl-nav>div.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    left: -40px;
}
.vertical-menu ul li ul.mega-menu-wrap {
    width: 270px;
}
.vertical-menu ul li ul.mega-menu-wrap>li {
    width: 100%;
}
.offcanvas .inner .offcanvas-menu ul li .sub-menu li a {
    color: #fff;
}
