.breadcrumb-area {
    text-align: center;
    position: relative;
    padding: 193px 0;
    background: url(../images/breadcrumb-bg.png) no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #bebebe;
}
.best-sell-slider .thumbnail img {
    max-height: 250px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.new-product-slider .thumbnail img  {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.recent-product-slider .thumbnail img  {
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}
.home-5.home-6 .main-navigation ul li a {
    padding: 18px 10px;
    font-size: 19px;
    margin: 0px 10px;
}
.contact-form {
    padding: 40px 110px 40px 110px;
}
.category-slider.owl-nav-style .owl-nav>div.owl-next {
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}
.category-slider.owl-nav-style .owl-nav>div.owl-prev {
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    left: -40px;
}
.vertical-menu ul li ul.mega-menu-wrap {
    width: 270px;
}
.vertical-menu ul li ul.mega-menu-wrap>li {
    width: 100%;
}
.offcanvas .inner .offcanvas-menu ul li .sub-menu li a {
    color: #fff;
}
.d-flex.align-items-start.justify-content-start {
    font-size: 19px;
}

@media only screen and (max-width: 1400px) {
    .breadcrumb-area {
        padding: 160px 0;
        background-size: 100%;
    }
}
@media only screen and (max-width: 1199px) {
    .breadcrumb-area {
        padding: 150px 0;
    }
}
@media only screen and (max-width: 767px) {
    .breadcrumb-area {
        padding: 120px 0;
    }
    .product-category {
        width: 50% !important;
        padding: 0px 5px 5px 3px !important;
    }
    .section-title h2 {
        font-size: 16px;
    }
    button.cart-btn.add-to-cart {
        font-size: 10px;
    }
    .category-topsaler {
        display: none;
    }
    #gallery {
        display: none;
    }
    .product-detail {
        margin: auto;
        width: 70%;
    }
    .pro-details-cart a{
        font-size: 13px;
    }
    .review-content {
        font-size: 12px;
    }
    .review-content h2 {
        font-size: 12px;
    }
    .recent-product-slider .thumbnail img
    {
        max-height: 100%;
    }
    .banner-3-area
    {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 639px) {
    .breadcrumb-area {
        padding: 90px 0;
    }
    .product-category {
        width: 50% !important;
        padding: 0px 5px 5px 3px !important;
    }
    .section-title h2 {
        font-size: 16px;
    }
    button.cart-btn.add-to-cart {
        font-size: 10px;
    }
    .category-topsaler {
        display: none;
    }
    #gallery {
        display: none;
    }
    .product-detail {
        margin: auto;
        width: 70%;
    }
    .pro-details-cart a{
        font-size: 13px;
    }
    .review-content {
        font-size: 12px;
    }
    .review-content h2 {
        font-size: 12px;
    }
    .recent-product-slider .thumbnail img
    {
        max-height: 100%;
    }
    .banner-3-area
    {
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px) {
    .breadcrumb-area {
        padding: 70px 0 50px;
    }
    .product-category {
        width: 50% !important;
        padding: 0px 5px 5px 3px !important;
    }
    .section-title h2 {
        font-size: 16px;
    }
    button.cart-btn.add-to-cart {
        font-size: 10px;
    }
    .category-topsaler {
        display: none;
    }
    .home-8 .static-area
    {
        margin: 0px !important;
    }
    #gallery {
        display: none;
    }
    .product-detail {
        margin: auto;
        width: 70%;
    }
    .pro-details-cart a{
        font-size: 13px;
    }
    .review-content {
        font-size: 12px;
    }
    .review-content h2 {
        font-size: 12px;
    }
    .recent-product-slider .thumbnail img
    {
        max-height: 100%;
    }
    .banner-3-area
    {
        margin-top: 10px;
    }
}


